body {
    background: #f5f6fa;
}

.signup-form {
    margin-top: 60px;
}

/* CARD */
.custom-card {
    border-radius: 16px;
    padding: 20px;
    border: none;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

/* HEADER */
.custom-header {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 22px;
}

/* INPUT */
.custom-input {
    border-radius: 10px;
    height: 45px;
    border: 1px solid #ddd;
}

.custom-input:focus {
    border-color: #6366f1;
    box-shadow: none;
}

/* PASSWORD BAR */
.password-strength {
    height: 5px;
    background: #e5e7eb;
    border-radius: 5px;
    overflow: hidden;
}

.password-bar {
    width: 0%;
    height: 100%;
    background: transparent;
    transition: all 0.3s ease;
}

.password-rules {
    padding-left: 15px;
    font-size: 13px;
    margin-top: 5px;
}

.password-rules li {
    color: #999;
}

.password-rules li.valid {
    color: green;
}

.password-rules li.invalid {
    color: red;
}

#confirm-message {
    font-size: 13px;
}

.text-success {
    color: green;
}

.text-error {
    color: red;
}

/* BUTTON */
.custom-btn {
    height: 45px;
    border-radius: 10px;
    background: linear-gradient(90deg, #4f46e5, #6366f1);
    border: none;
    color: white;
    font-weight: 500;
}